{% load admin_static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ choice.choice }}Choice-用选择决定发声</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'touke/css/home.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'touke/css/_head.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>	
	<div class="page-container">
		<div class="backing">
			<div class="profile-prothole">
				<a id="large-user-profile-image" 
					style="background-image: url(/media/{{ member.avatar }})">
				</a>
			</div>
		</div>
		<div class="container profile-container">
			
			<div id="tag-wrapper">
				<div id="tag-title-bar">
					<div>
					<span id="story-title">{{ member.username }}</span>
					 <span class="profile-user-name">的Choice</span> 
					&nbsp;
					</div>
				</div>
				<div id="tag-description-bar"></div>
				<div id="choice-content">
					
					{% for poll in polls %}
						<div class="choice-item">
							<h2><a href="/touke/{{ poll.id }}">{{ poll.question }}</a></h2>
							<p>{{ poll.story }}</p>
						</div>
					{% empty %}
						<h2>该用户未发表任何选择</h2>
					{% endfor %}
				
				</div>
				<div id="tag-content">
					<div class="tag-group">
						<div class="grouping-title">选择的标签</div>
						<div class="clearfix">
						{% for poll in polls %}
							<a class="tag-page-link" style="margin-top:2px;line-height:48px;margin-left: 1px;" href="/tag/theappwhispererstreetsahead">
							#{{ poll.keyword }}
							</a>
						
						{% endfor %}
						
						
						</div>
					</div>
					<div class="tag-group">
						<div class="grouping-title"></div>
						<div class="clearfix">
							<a class="tag-page-link" style="margin-top:2px;line-height:48px;margin-left: 1px;" href="/touke">
								返回主页
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
  
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  
  </body>
</html>

