{% load admin_static %}
<!DOCTYPE html>
<html>
  <head>
  {% if choices %}
    <title>{{ choice.choice }}Choice-用选择决定发声</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'touke/css/item.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'touke/css/_head.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>
  	
  	{% include '_head.html' %}

    <div id="title-bar">
        <div id="publisher-info" class="hidden-small-phone">
            <a href="#">
            <div style="float:left;padding:5px;margin-top:-5px;border-radius:50%;box-shadow: inset 0 2px 10px rgba(0,0,0,0.28);">

                <img id="publisher-profile-image" src="http://files.parse.com/f7f7880e-87cf-464e-b687-169c51d78235/cf2af808-d55a-48ad-a863-13feb691f9f3-profile-E3ezw2mOhq.jpg">

            </div>
            </a>
            <div id="publisher-section">
                <span id="publisher-name-link">
                    由<a href="#">spirithands</a>发布
                </span>
                <br/>
                <span id="publisher-choice-link">
                <a href="#"><b>6</b> Choice</a>
                </span>
            </div>
        </div>
        <div id="Choice-title">{{ poll.question }}</div>
    </div>
    <div id="main">
        <div class="choice ">
        	
        		
        		{% for choice in choices %}
        			
        			   <div class="choice-title">{{ choice.choice }}</div>
			            <div class="progress p_{{ forloop.counter }} progress-striped active">
			              <div class="bar" style="width: {{ choice.votes }}%"></div>
			            </div>
			            <span class="choice-result">{{ choice.votes }}票</span>&nbsp;&nbsp;
			            <button class="btn">投票</button>
        			
        		{% endfor %}
        		
        	
         


        </div>
        
        <div class="comment-pane">
            <div class="choice-story">
                <h3>Choice Story</h3>
                <p>{{ poll.story }}</p>
            </div>
         <!--    <div class="post-op">
                <div class="op-wrapper clearfix">
                    <div class="like common">
                        <a id="J_LikePost" class="sprites liked" href="#">推荐</a> 
                        (<em class="J_LikeSum">17</em>)
                        <span class="separate">/</span>
                    </div>
                    <div class="comment common">
                        <a id="J_CommentPost" class="sprites" href="#choice-comment">评论</a> 
                        (<em class="J_CommentSum">2</em>)
                        <span class="separate">/</span>
                    </div>
                    <div class="share common">
                        <a id="SharePost" class="sprites" href="" target="_blank">分享</a>
                    </div>
                                                            
                </div>
               
            </div> -->

            <div id="choice-comment" class="choice-comment">
                <h3>全部评论5条</h3>
                <div class="choice-comment-publish">
                    <form>
                        <img src="{% static 'touke/img/1.jpg' %}">
                        <textarea>说点什么吧...</textarea>
                        <br/>
                        <button class="btn btn-small btn-publish">发表</button>
                    </form>
                </div>
                <hr/>
                <div class="choice-comment-pane">
                    <div class="comment-item">
                        <div class="comment-item-main">
                            <img class="comment-avator" src="{% static 'touke/img/1.jpg' %}" >
                            <span class="comment-user">路人甲</span>
                            <span class="comment-text"><span><a href="#">@YM</a></span>其实她们都会游泳，一般是她们来救我！</span>
                            <span>2013/5/7 12:11</span>
                            <a class="comment-reply" href="#">回复</a>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="comment-item-main">
                            <img class="comment-avator" src="{% static 'touke/img/1.jpg' %}" class="">
                            <span class="comment-user">路人甲</span>
                            <span class="comment-text"><span><a href="#">@YM</a></span>让她们划拳</span>
                            <span class="comment-date">2013/5/7 12:11</span>
                            <a class="comment-reply" href="#">回复</a>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="comment-item-main">
                            <img class="comment-avator" src="{% static 'touke/img/1.jpg' %}" class="">
                            <span class="comment-user">路人甲</span>
                            <span class="comment-text"><span><a href="#">@YM</a></span>我一般不回答这种问题！</span>
                            <span>2013/5/7 12:11</span>
                            <a class="comment-reply" href="#">回复</a>
                        </div>
                    </div>
                   
                </div>
        </div>
        <div class="clearfix"></div>
    </div>
    

    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endif %}
  </body>
</html>

