body{

	background-color: rgba(246,244,245,.84);
	margin-top:40px;
	min-width: 900px;
	overflow-x: hidden;

}

ul,li{
	list-style: none;
}



.choice-head-sub{

	width:100%;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:5%;
	padding-right: 5%;
	height:35px;
	background-color: #fff;
	border-bottom: 1px #ddd solid;

}

.choice-head-sub a{

	font-size: 16px;
	margin-left: 10px;
	position: relative;
	
}

.choice-main{
	width: 90%;
	margin: 0 auto;
	margin-top: 5px;
	position: relative;

}

.choice-category{
	
	border: #ccc solid 1px;
	background-color: #fff;
	min-height: 40px;
	box-shadow: 1px 1px 1px 1px #ddd;
	min-width: 1200px;
}

.choice-category .esp{
	width: 60px;
	text-align: right;
}

.choice-category li{
	text-decoration: none;
	list-style: none;
	float: left;
	font-family: "宋体";
	font-weight: bold;
	color: #333;
	line-height: 22px;
	padding: 12px 0px;
}


.choice-category .keword a{
	text-align: none;
	padding: 0 12px;
	color: #999;
	font-family: "宋体";
	font-size: 12px;
	float: left;
	font-weight: normal;
}

.choice-category .keword a:hover{
	color: #fff;
	background: #888;
}

.choice-content{

	margin-top:20px;
	position: relative;

}

.choice-content .choices{

	position: relative;
	list-style: none;

}

.choice-content .choices .item{
	padding:10px;
	padding-bottom:5px;
	list-style: none;
	background: #fff;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	border-radius: 2px;

}

.choice-content .choices .item img{
	cursor: pointer;
}

.choice-content .choices .item h3{

	font-size: 18px;
	color: #333;
	font-family: Arial,微软雅黑,宋体,黑体,sans-serif;
	word-break: normal; 
	word-wrap: break-word;
	overflow: hidden;
	line-height: 24px;
	width: 190px;
	position: relative;

}

.choice-content .choices .item h3 a{
	color: #333;
	text-decoration: none;
}

.choice-content .choices .item p{

	line-height: 20px;
	color: #999;
	word-break: normal; 
	word-wrap: break-word;
	overflow: hidden;
	font-size: 14px;
	font-family: 宋体;
	width: 190px;
	position: relative;
	padding-bottom:50px;
	cursor: pointer;

}

.choice-content .choices .item p:hover{
	color:#33b3d1;
}


.choice-content .choices .item .toolbars{

	width: 100%;
	opacity: 0.6;
	background-color:  rgb(35, 39, 41);
	height: 40px;
	position: absolute;
	bottom: 0px;
	left:0px;
	right:0px;
	border-radius: 0px 0px 2px 2px;

}

.choice-content .choices .item .toolbars img{

	opacity: 1;
	width: 30px;
	height:30px;
	margin:5px;
	border-radius: 500px;
	border:2px #fff solid;
}

.choice-content .choices .item .toolbars img:hover{

	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transition-duration:0.5s;
}

.choice-content .choices .item .toolbars span{

	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;

}

#loader {
	height: 16px;
	text-align: center;
	padding: 25px 0 25px 0;
}

#loaderCircle {
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background-image: url('../img/loader.gif');
}

/**bootstrap*/
.tab-content{
	overflow-x:hidden; 
}


