{% load admin_static %}
<div class="choice-head">
    <div class="head-text">
        <span class="head-logo"><a href="/index">Choice</a></span>
        <div class="head-menu">
            <ul id="nav-tabs" class="nav nav-tabs">
                <li class=""><a href="/touke" >广场</a></li>
                <li class=""><a href="#">参与</a></li>
                 {% if request.session.account %}
                	<li><a href="#tab2">我的Choice</a></li>
                 {% endif %}
            </ul>
        </div>
        <div class="head-option">
            <input type="text" class="choice-query" Placeholder="主题，类型，用户">
            <div class="user-info">
           		
                {% if request.session.account %}
                	<a href="/touke/{{ request.session.account.id }}/home/"><img src="/media/{{ request.session.account.avatar }}" class="photo"/></a>
                	<span class="name">{{ request.session.account.username }}</span>
                	<i id="icon-user-option-down" class="icon-chevron-down"></i>
                	<a href="/auth/logout/">退出</a>
                {% else %}
                	<span class="name">游客|<a href="/auth">登录</a></span>
                {% endif %}
                
            
            </div>
        </div>
       
    </div>
    
</div>
