{% load admin_static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Choice-用选择决定发声</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:wb="http://open.weibo.com/wb">
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "touke/css/auth.css" %}" rel="stylesheet" media="screen">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=466508528" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    
    <div class="auth-head">
        <h2>Choice登陆</h2>
       <!--  <wb:login-button type="3,5" onlogin="login" onlogout="logout">登录按钮</wb:login-button> -->
    </div>
    <div class="auth-main">
        <div class="main-text">
                <input type="text" name="email" Placeholder="电子邮箱地址"/>
                <input type="password" name="email" Placeholder="登陆密码"/>
                <button class="btn btn-large">登陆</button>
                <hr/>
                <!-- <p class="auth-regist"><a href="#">注册成为Choice用户</a>  | -->  <a href="../">主页</a></p>
        </div>
    </div>
   <!--  <div class="auth-footer"><a href="#" target="_blank">关于Choice</a>|<a href="#" target="_blank">联系Choice</a><wb:login-button type="3,5" onlogin="login" onlogout="logout">登录按钮</wb:login-button></div> -->

    <script src="{% static "bootstrap/js/jquery.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>

